<div class="container">
    <div class="textcontainer"></div>
    <span style="font-size: 6rem;">WELCOME</span>
    <span style="font-size: 3rem;">To</span>
    <span style="font-size: 4rem;">{{storeName}}</span>
    <span style="font-size: 3rem;">{{storeAddress}}</span>
    <div class="btnContainer">
        <button class="btn" id="btnLogin" style="background-color: green;">LOGIN</button>
        <button class="btn" id="btnExit" style="background-color: brown;">EXIT</button>
    </div>
</div>

</div>
<style>
    .btnContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: auto;
        margin-top: 4rem;
    }

    .btn {
        width: 32.5rem;
        font-size: 3rem;
        border: none;
        border-radius: 15px;
        color: aliceblue;
    }


    .textcontainer {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        width: auto;
        gap: 1.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
</style>